registry=https://registry.npmjs.org/
public-hoist-pattern=*
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=true
shamefully-hoist=true
dedupe-injected-deps=false
npm-version=11.1.0
loglevel=silent