@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import './colors.css';

@import 'tailwindcss';

@import 'tw-animate-css';

@theme {
  --font-varela: 'Varela Round', sans-serif;
}

@layer base {
  * {
    @apply antialiased;
  }
  body {
    @apply font-varela;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
